<div class="container">
	<div class="row">
		<div class="col-md-3 profil  ">
			<aside>
				<img src="/assets/me.jpg" alt="me" class="img-circle">
				<h1>Jordan Luce</h1>
				<p>Software Eng. CODEHANCE</p>
				<a class="twitter-follow-button"
				href="https://twitter.com/IWASFed"
				data-show-screen-name="True"
				data-show-count="True"
				data-size="small"
				>
				Follow @IWASFed
			</a>
			<hr>
			<p>Share this page</p>
			<ul>
				<li><img src="/assets/social_icons/email.png"></li>
				<li><img src="/assets/social_icons/facebook.png"></li>
				<li><img src="/assets/social_icons/twitter.png"></li>
				<li><img src="/assets/social_icons/pinterest.png"></li>
				<li><img src="/assets/social_icons/linkedin.png"></li>
				<li><img src="/assets/social_icons/googleplus.png"></li>
			</ul>
		</aside>

	</div>

	<div class="col-md-8 ">
		<%= link_to 'All Posts', posts_path %>
		<% @posts.each do |post| %>
		<article>
			<header>
				<h2><%= truncate(post.title, lenght: 70, separator: '') %></h2></header>
				<footer><small><%= time_ago post.created_at %></small></footer>

				<div class="lead">
					<%= truncate(post.content, lenght: 104, separator: '') {link_to 'Read More', post_path(post)} %>
				</div>
				<% if Setting.first.try(:tag_visibility) %>
					<% post.tags.each do |tag| %>
						<span class="label label-default"><%= tag.name %></span>
				<% end %>
				<span class="label label-default">Bootstrap</span>
			</article>    
			<hr>

					<% end %>
				<% end %>


				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li><a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<%= paginate @posts %>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>   

		</div>
	</div>
</div>





